@import "tailwindcss";

@custom-variant dark (&:where( .dark, .dark *, .dark-perpetuity , .dark-perpetuity *, .dark-bubblegum , .dark-bubblegum *, .dark-vercel , .dark-vercel * ));
@custom-variant light (&:where( .light,.light *, .light-perpetuity , .light-perpetuity *, .light-bubblegum , .light-bubblegum *, .light-vercel , .light-vercel * ));

html.dark .shiki,
html.dark .shiki span,
html.dark-perpetuity .shiki,
html.dark-perpetuity .shiki span,
html.dark-bubblegum .shiki,
html.dark-bubblegum .shiki span,
html.dark-vercel .shiki,
html.dark-vercel .shiki span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
html.light .shiki,
html.light-perpetuity .shiki,
html.light-bubblegum .shiki,
html.light-vercel .shiki {
  background-color: white !important;
}
html.dark .shiki,
html.dark-perpetuity .shiki,
html.dark-bubblegum .shiki,
html.dark-vercel .shiki {
  background-color: #101010 !important;
}
@theme inline {
  --color-layout: var(--layout);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Box Shadow Variables with Tailwind CSS defaults as fallbacks */
  --shadow-2xs: var(--shadow-2xs, 0 1px 1px 0px rgb(0 0 0 / 0.05));
  --shadow-xs: var(--shadow-xs, 0 1px 2px 0px rgb(0 0 0 / 0.05));
  --shadow-sm: var(
    --shadow-sm,
    0 1px 3px 0px rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1)
  );
  --shadow-md: var(
    --shadow-md,
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1)
  );
  --shadow: var(--shadow, var(--shadow-md));
  /* verfiy whether the shadow is just an alias to shadow-md in tailwind css */
  --shadow-lg: var(
    --shadow-lg,
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1)
  );
  --shadow-xl: var(
    --shadow-xl,
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1)
  );
  --shadow-2xl: var(--shadow-2xl, 0 25px 50px -12px rgb(0 0 0 / 0.25));
}
:root,
.light,
.light-vercel,
.light-bubblegum,
.light-perpetuity {
  --layout: color-mix(
    in oklch,
    var(--color-background),
    var(--color-foreground) 1% /* 1% in light, 2% in dark   */
  );
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark,
.dark-perpetuity,
.dark-bubblegum,
.dark-vercel {
  --layout: color-mix(
    in oklch,
    var(--color-background),
    var(--color-foreground) 5% /* 1% in light, 2% in dark   */
  );
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.light-perpetuity [data-preview] *,
[data-switch="perpetuity"] {
  --background: oklch(0.9491 0.0085 197.0126);
  --foreground: oklch(0.3772 0.0619 212.664);
  --card: oklch(0.9724 0.0053 197.0692);
  --card-foreground: oklch(0.3772 0.0619 212.664);
  --popover: oklch(0.9724 0.0053 197.0692);
  --popover-foreground: oklch(0.3772 0.0619 212.664);
  --primary: oklch(0.5624 0.0947 203.2755);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9244 0.0181 196.845);
  --secondary-foreground: oklch(0.3772 0.0619 212.664);
  --muted: oklch(0.9295 0.0107 196.9723);
  --muted-foreground: oklch(0.5428 0.0594 201.5662);
  --accent: oklch(0.9021 0.0297 201.8915);
  --accent-foreground: oklch(0.3772 0.0619 212.664);
  --destructive: oklch(0.5732 0.1901 25.5409);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8931 0.0205 204.4136);
  --input: oklch(0.9244 0.0181 196.845);
  --ring: oklch(0.5624 0.0947 203.2755);
  --chart-1: oklch(0.5624 0.0947 203.2755);
  --chart-2: oklch(0.6389 0.1029 201.5918);
  --chart-3: oklch(0.7124 0.1075 201.2486);
  --chart-4: oklch(0.7701 0.0979 201.1816);
  --chart-5: oklch(0.8336 0.0771 200.9702);
  --sidebar: oklch(0.928 0.0183 205.3151);
  --sidebar-foreground: oklch(0.3772 0.0619 212.664);
  --sidebar-primary: oklch(0.5624 0.0947 203.2755);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9021 0.0297 201.8915);
  --sidebar-accent-foreground: oklch(0.3772 0.0619 212.664);
  --sidebar-border: oklch(0.8931 0.0205 204.4136);
  --sidebar-ring: oklch(0.5624 0.0947 203.2755);
  --font-sans: Courier New, monospace;
  --font-serif: Courier New, monospace;
  --font-mono: Courier New, monospace;
  --radius: 0.125rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(185 70% 30% / 0.15);
  --shadow-2xs: 1px 1px 2px 0px hsl(185 70% 30% / 0.07);
  --shadow-xs: 1px 1px 2px 0px hsl(185 70% 30% / 0.07);
  --shadow-sm:
    1px 1px 2px 0px hsl(185 70% 30% / 0.15),
    1px 1px 2px -1px hsl(185 70% 30% / 0.15);
  --shadow:
    1px 1px 2px 0px hsl(185 70% 30% / 0.15),
    1px 1px 2px -1px hsl(185 70% 30% / 0.15);
  --shadow-md:
    1px 1px 2px 0px hsl(185 70% 30% / 0.15),
    1px 2px 4px -1px hsl(185 70% 30% / 0.15);
  --shadow-lg:
    1px 1px 2px 0px hsl(185 70% 30% / 0.15),
    1px 4px 6px -1px hsl(185 70% 30% / 0.15);
  --shadow-xl:
    1px 1px 2px 0px hsl(185 70% 30% / 0.15),
    1px 8px 10px -1px hsl(185 70% 30% / 0.15);
  --shadow-2xl: 1px 1px 2px 0px hsl(185 70% 30% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}
.dark-perpetuity [data-preview] *,
.dark-vercel [data-switch="perpetuity"],
.dark-perpetuity [data-switch="perpetuity"],
.dark-bubblegum [data-switch="perpetuity"],
.dark [data-switch="perpetuity"] {
  --background: oklch(0.2068 0.0247 224.4533);
  --foreground: oklch(0.852 0.1269 195.0354);
  --card: oklch(0.2293 0.0276 216.0674);
  --card-foreground: oklch(0.852 0.1269 195.0354);
  --popover: oklch(0.2293 0.0276 216.0674);
  --popover-foreground: oklch(0.852 0.1269 195.0354);
  --primary: oklch(0.852 0.1269 195.0354);
  --primary-foreground: oklch(0.2068 0.0247 224.4533);
  --secondary: oklch(0.3775 0.0564 216.501);
  --secondary-foreground: oklch(0.852 0.1269 195.0354);
  --muted: oklch(0.2894 0.0412 218.8153);
  --muted-foreground: oklch(0.6611 0.0975 195.0526);
  --accent: oklch(0.3775 0.0564 216.501);
  --accent-foreground: oklch(0.852 0.1269 195.0354);
  --destructive: oklch(0.6168 0.2086 25.8088);
  --destructive-foreground: oklch(0.9612 0 0);
  --border: oklch(0.3775 0.0564 216.501);
  --input: oklch(0.3775 0.0564 216.501);
  --ring: oklch(0.852 0.1269 195.0354);
  --chart-1: oklch(0.852 0.1269 195.0354);
  --chart-2: oklch(0.6611 0.0975 195.0526);
  --chart-3: oklch(0.5804 0.0849 195.0673);
  --chart-4: oklch(0.4269 0.063 202.6247);
  --chart-5: oklch(0.3142 0.0455 204.1575);
  --sidebar: oklch(0.2068 0.0247 224.4533);
  --sidebar-foreground: oklch(0.852 0.1269 195.0354);
  --sidebar-primary: oklch(0.852 0.1269 195.0354);
  --sidebar-primary-foreground: oklch(0.2068 0.0247 224.4533);
  --sidebar-accent: oklch(0.3775 0.0564 216.501);
  --sidebar-accent-foreground: oklch(0.852 0.1269 195.0354);
  --sidebar-border: oklch(0.3775 0.0564 216.501);
  --sidebar-ring: oklch(0.852 0.1269 195.0354);
  --font-sans: Source Code Pro, monospace;
  --font-serif: Source Code Pro, monospace;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.125rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(180 70% 60% / 0.2);
  --shadow-2xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.1);
  --shadow-xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.1);
  --shadow-sm:
    1px 1px 2px 0px hsl(180 70% 60% / 0.2),
    1px 1px 2px -1px hsl(180 70% 60% / 0.2);
  --shadow:
    1px 1px 2px 0px hsl(180 70% 60% / 0.2),
    1px 1px 2px -1px hsl(180 70% 60% / 0.2);
  --shadow-md:
    1px 1px 2px 0px hsl(180 70% 60% / 0.2),
    1px 2px 4px -1px hsl(180 70% 60% / 0.2);
  --shadow-lg:
    1px 1px 2px 0px hsl(180 70% 60% / 0.2),
    1px 4px 6px -1px hsl(180 70% 60% / 0.2);
  --shadow-xl:
    1px 1px 2px 0px hsl(180 70% 60% / 0.2),
    1px 8px 10px -1px hsl(180 70% 60% / 0.2);
  --shadow-2xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.5);
}

.light-vercel [data-preview] *,
[data-switch="vercel"] {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.94 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.44 0 0);
  --accent: oklch(0.94 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.63 0.19 23.03);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.92 0 0);
  --input: oklch(0.94 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.81 0.17 75.35);
  --chart-2: oklch(0.55 0.22 264.53);
  --chart-3: oklch(0.72 0 0);
  --chart-4: oklch(0.92 0 0);
  --chart-5: oklch(0.56 0 0);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.94 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0 0 0);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}
.dark-vercel [data-preview] *,
.dark-vercel [data-switch="vercel"],
.dark-perpetuity [data-switch="vercel"],
.dark-bubblegum [data-switch="vercel"],
.dark [data-switch="vercel"] {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.14 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.18 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.25 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.23 0 0);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.32 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.69 0.2 23.91);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.26 0 0);
  --input: oklch(0.32 0 0);
  --ring: oklch(0.72 0 0);
  --chart-1: oklch(0.81 0.17 75.35);
  --chart-2: oklch(0.58 0.21 260.84);
  --chart-3: oklch(0.56 0 0);
  --chart-4: oklch(0.44 0 0);
  --chart-5: oklch(0.92 0 0);
  --sidebar: oklch(0.18 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.32 0 0);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.32 0 0);
  --sidebar-ring: oklch(0.72 0 0);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

.light-bubblegum [data-preview] *,
[data-switch="bubblegum"] {
  --background: oklch(0.9399 0.0203 345.6985);
  --foreground: oklch(0.4712 0 0);
  --card: oklch(0.9498 0.05 86.8891);
  --card-foreground: oklch(0.4712 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4712 0 0);
  --primary: oklch(0.6209 0.1801 348.1385);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8095 0.0694 198.1863);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.88 0.0504 212.0952);
  --muted-foreground: oklch(0.5795 0 0);
  --accent: oklch(0.9195 0.0801 87.667);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.7091 0.1697 21.9551);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.6209 0.1801 348.1385);
  --input: oklch(0.9189 0 0);
  --ring: oklch(0.7002 0.1597 350.7532);
  --chart-1: oklch(0.7002 0.1597 350.7532);
  --chart-2: oklch(0.8189 0.0799 212.0892);
  --chart-3: oklch(0.9195 0.0801 87.667);
  --chart-4: oklch(0.7998 0.111 348.1791);
  --chart-5: oklch(0.6197 0.1899 353.9091);
  --sidebar: oklch(0.914 0.0424 343.0913);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6559 0.2118 354.3084);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8228 0.1095 346.0184);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.9464 0.0327 307.1745);
  --sidebar-ring: oklch(0.6559 0.2118 354.3084);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: hsl(325.78 58.18% 56.86% / 0.5);
  --shadow-2xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
  --shadow-xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
  --shadow-sm:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-md:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 2px 4px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-lg:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 4px 6px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-xl:
    3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
    3px 8px 10px -1px hsl(325.78 58.18% 56.86% / 1);
  --shadow-2xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 2.5);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}
.dark-bubblegum [data-preview] *,
.dark-vercel [data-switch="bubblegum"],
.dark-perpetuity [data-switch="bubblegum"],
.dark-bubblegum [data-switch="bubblegum"],
.dark [data-switch="bubblegum"] {
  --background: oklch(0.2497 0.0305 234.1628);
  --foreground: oklch(0.9306 0.0197 349.0785);
  --card: oklch(0.2902 0.0299 233.5352);
  --card-foreground: oklch(0.9306 0.0197 349.0785);
  --popover: oklch(0.2902 0.0299 233.5352);
  --popover-foreground: oklch(0.9306 0.0197 349.0785);
  --primary: oklch(0.9195 0.0801 87.667);
  --primary-foreground: oklch(0.2497 0.0305 234.1628);
  --secondary: oklch(0.7794 0.0803 4.133);
  --secondary-foreground: oklch(0.2497 0.0305 234.1628);
  --muted: oklch(0.2713 0.0086 255.578);
  --muted-foreground: oklch(0.7794 0.0803 4.133);
  --accent: oklch(0.6699 0.0988 356.9762);
  --accent-foreground: oklch(0.9306 0.0197 349.0785);
  --destructive: oklch(0.6702 0.1806 350.3599);
  --destructive-foreground: oklch(0.2497 0.0305 234.1628);
  --border: oklch(0.3907 0.0399 242.2181);
  --input: oklch(0.3093 0.0305 232.0027);
  --ring: oklch(0.6998 0.0896 201.8672);
  --chart-1: oklch(0.6998 0.0896 201.8672);
  --chart-2: oklch(0.7794 0.0803 4.133);
  --chart-3: oklch(0.6699 0.0988 356.9762);
  --chart-4: oklch(0.4408 0.0702 217.0848);
  --chart-5: oklch(0.2713 0.0086 255.578);
  --sidebar: oklch(0.2303 0.027 235.9743);
  --sidebar-foreground: oklch(0.967 0.0029 264.5419);
  --sidebar-primary: oklch(0.6559 0.2118 354.3084);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8228 0.1095 346.0184);
  --sidebar-accent-foreground: oklch(0.2781 0.0296 256.848);
  --sidebar-border: oklch(0.3729 0.0306 259.7328);
  --sidebar-ring: oklch(0.6559 0.2118 354.3084);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: #324859;
  --shadow-2xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.5);
  --shadow-xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.5);
  --shadow-sm:
    3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
    3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1);
  --shadow:
    3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
    3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1);
  --shadow-md:
    3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
    3px 2px 4px -1px hsl(206.1538 28.0576% 27.2549% / 1);
  --shadow-lg:
    3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
    3px 4px 6px -1px hsl(206.1538 28.0576% 27.2549% / 1);
  --shadow-xl:
    3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
    3px 8px 10px -1px hsl(206.1538 28.0576% 27.2549% / 1);
  --shadow-2xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 2.5);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html.light-perpetuity,
  html.light-bubblegum,
  html.light-vercel {
    color-scheme: light;
  }
  html.dark-perpetuity,
  html.dark-bubblegum,
  html.dark-vercel {
    color-scheme: dark;
  }
}
